.eggs-main-container {
    margin: 26em auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* ou la largeur que vous préférez */
}

.eggs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.egg-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; /* Légèrement différent pour le contraste */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.egg-card:hover {
    transform: translateY(-10px);
}

.egg-image {
    width: 100px; /* Ajustez selon la taille de vos images */
    border-radius: 10px 10px 0 0;
    margin-top: -20px;
}

.egg-name {
    font-weight: bold;
    margin: 10px 0;
}