.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Noir semi-transparent */
    z-index: 2; /* Assurez-vous que cela ne couvre pas le contenu textuel */
}

.option{
    transform: skew(-30deg);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    margin: 30px;
    width: 15em;
    height: 10em;
    transition: transform 0.5s ease;
    overflow:hidden;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.option *{
    transform: skew(30deg);
    z-index: 3;
}

.option-row{
    display: flex;
    flex-direction: row;
}

.option-row{
    display: flex;
    flex-direction: column;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Ou dimensions spécifiques si nécessaire */
    height: 100%; /* Ou dimensions spécifiques si nécessaire */
}

.option-image{
    width: 8em; /* Largeur de l'image */
    height: auto; /* Hauteur ajustée automatiquement */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(30deg);
    z-index: 0;
    filter: blur(5px); /* Applique un flou à l'image */
}

.option:hover{
    transform: scale(1.25) skew(-30deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
}

.option-title{
    font-size: 40px;
}


  