.monsters-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.monster{
    background-color: white;
    width: 8em;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.monster:hover{
    transform: scale(1.25);
    cursor: pointer;
}

.monster-image{
    padding: 10px;
    border-radius: 50%;
}

.monster-body{
    text-align: center;
}