.player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-info {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    background: white;
    overflow: hidden; /* Pour s'assurer que le contenu ne dépasse pas les bords arrondis */
}

.player-description {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Espace autour du contenu */
    justify-content: space-around; /* Répartit l'espace verticalement */
}

.player-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centrer le titre et les images horizontalement */
}

.player-header h1 {
    margin: 0 10px; /* Espace autour du titre */
    color: #333; /* Couleur du texte pour le titre */
    font-size: 24px; /* Taille du texte pour le titre */
}

.player-body p {
    font-size: 16px; /* Taille de la police pour le corps */
    color: #333; /* Couleur du texte pour le corps */
}

.player-picture {
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center; /* Centrer l'image du joueur */
    align-items: center; /* Centrer l'image du joueur verticalement */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.player-picture img {
    animation: fadeInUp 2s ease-out;
    width: auto;
    height: 200px;
}