.pokemon-articles {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.pokemon-article{
    margin-top: 40px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.pokemon-article-wrapper{
    display: flex;
    flex-direction: row;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 500px;
    border-radius: 50px;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 4;
}

.article-image{
    width:50px;
    height: auto;
    margin-left:20px;
}

.article-image:hover {
    transform: scale(1.25);
}

.article-price-image{
    width: 25px;
    height: auto;
}

.article-price {
    display: flex; /* Active Flexbox pour cet élément */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement (optionnel) */
}

.article-title{
    font-size: 30px;
    margin-left: 10px;
}

.article-price{
    font-size: 30px;
    margin-left: 50px;
}

.article-button{
    position: absolute;
    right: 20px; /* Place le bouton à l'extrême droite du conteneur .article-container */
    top: 30%;
}

.scroll-articles{
    overflow-y:scroll;
    height: 500px;
}

.main-article{
    display: flex;
    align-items: center;
    margin-top:20px;
    background-color: var(--normal);
    width: 40%;
    height:2.5em;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
}

.main-article > h1 {
    margin-left: 20px;
}

.article-description{
    margin-right: 20px;
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
}

.pokemon-article-color{
    width: 50%;      /* Définit la largeur égale à celle de l'élément parent */
    height: 100%;     /* Définit la hauteur égale à celle de l'élément parent */
    position: absolute;
    top: 0;
    left: 0;          /* Ajouté pour s'assurer que l'élément commence dans le coin en haut à gauche de l'élément parent */
    background-color: var(--normal);
    overflow: hidden;
    z-index: 3;
    border-radius: 50px; /* Si vous voulez que cela soit complètement rond, cela fonctionnera si l'élément parent est carré */
}

.article-image, .article-price, .article-title{
    z-index: 5;
}

@keyframes slideInFromRight {
    from {
        transform: skewX(-30deg) translateX(150%);
    }
    to {
        transform: skewX(-30deg) translateX(50%);
    }
}

.shop-background, .shop-background2 {
    /* Vos styles existants */
    animation: slideInFromRight 1s ease-out forwards;
}

.shop-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--electric);
    z-index: -1;
    transform-origin: top left;
}

.shop-background2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--fighting);
    z-index: -2;
    transform-origin: top left;
}
