form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.createAccount{
    margin-top: 20px;
    background-color: #90818176;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-wrapper{
    border-radius: 5px;
    padding:30px;
    background: linear-gradient(to bottom right, #DCEBF1, #b4a0ca);
}

.incubator{
    width: 50%;
    height:auto;
    padding-bottom: 20px;
}

.login-title,.login-image{
    display: flex;
    justify-content: center;
}