.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  min-width: 6em;
  max-width: 6em;
  height: 3em;
  background: white;
  border-radius: 20px;
  transition-timing-function: ease;
  transition-duration: 0.7s;
  scroll-snap-align: start;
  animation: fadein 1s;
}

button:enabled{
  border: 2px solid black;
  color: black;
  box-shadow: 3px 5px black;
}

button.selected {
  box-shadow: none;
}

button:hover:enabled,
button.selected {
  background-color: black;
  color: white;
}

button:hover:enabled{
  cursor:pointer;
  box-shadow: none;
}

.app-header{
  position: absolute;
  left: 20px;
  top:20px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(200,200,200,0.5);
}

.app-header-money{
  display: flex;
  flex-direction: row;

}

.app-header-money img{
  width: auto;
  height: 50px;
}