body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: Bahnschrift, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  --normal: #A8A77A;
  --fire: #EE8130;
  --water: #6390F0;
  --electric: #F7D02C;
  --grass: #7AC74C;
  --ice: #96D9D6;
  --fighting: #C22E28;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #F95587;
  --bug: #A6B91A;
  --rock: #B6A136;
  --ghost: #735797;
  --dragon: #6F35FC;
  --dark: #705746;
  --steel: #B7B7CE;
  --fairy: #D685AD;
}

.type-normal { background-color: var(--normal); color: black; }
.type-fire { background-color: var(--fire); color: white; }
.type-water { background-color: var(--water); color: white; }
.type-electric { background-color: var(--electric); color: black; }
.type-grass { background-color: var(--grass); color: black; }
.type-ice { background-color: var(--ice); color: black; }
.type-fighting { background-color: var(--fighting); color: white; }
.type-poison { background-color: var(--poison); color: white; }
.type-ground { background-color: var(--ground); color: black; }
.type-flying { background-color: var(--flying); color: black; }
.type-psychic { background-color: var(--psychic); color: white; }
.type-bug { background-color: var(--bug); color: black; }
.type-rock { background-color: var(--rock); color: black; }
.type-ghost { background-color: var(--ghost); color: white; }
.type-dragon { background-color: var(--dragon); color: white; }
.type-dark { background-color: var(--dark); color: white; }
.type-steel { background-color: var(--steel); color: black; }
.type-fairy { background-color: var(--fairy); color: black; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  min-width: 0;
  font:inherit;
}

*, *::before, *::after{
  box-sizing: border-box;
}

img, video, svg{
  display: block;
  height: auto;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

p{
  text-wrap: pretty;
}


